<style>
  #search-bar #search-form {
    margin: 0 0 var(--spacing) 0;
  }

  #search-bar .row input[type="text"] {
    width: 100%;
    flex-shrink: 999999;
  }

  @media (max-width: 768px) {
    #search-bar .row input {
      width: 100%;
      flex-shrink: unset;
    }

    #search-bar .row input[type="text"] {
      margin-bottom: var(--spacing);
    }
  }
</style>

<div id="search-bar">
  <form action="/search/" class="row" id="search-form">
    <input name="query" placeholder="Some text" type="text" />
    <input class="bg-turquoise" type="submit" value="Search" />
  </form>
</div>
